.papa{
    display: grid;

    width: 100%;
    height: 100%;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 5% 10% 1fr 15%;

    background-color: aqua;
}
body{
    width: 100%;
    height: 100vh;
}

.header{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    background-color: #22292f ;
}

.categorias{
    background-color:rgb(237, 109, 58);

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}
.categorias2{
    background-color: rgb(240, 240, 240);

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
}

.items{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
}

.footer{
    background-color: white;
    
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
}